{% extends "base.html" %}

{% block title %}
  /new_user
{% endblock title %}


{% block head %}
{% endblock head %}


{% block content %}
  <div class="page-header">
  <h1>Add new or modify existing user</h1>
  </div>
  <form method="POST">
  {{ form.hidden_tag() }}
  <div class="form_group">
    {{ form.username.label(class="form-label") }}
    {{ form.username(class="form-control", autofocus=True) }}
  </div>
  <div class="form_group">
    {{ form.roles.label(class="form-label") }}
    {{ form.roles(class="form-control") }}
    <small class="form-text text-muted">A comma-separated list of zero or more of the following roles:
      {{ legal_roles }}</small>
  </div>
  <div class=my-3>&nbsp;</div>
  <div class="form_group">
    {{ form.password1.label(class="form-label") }}
    {{ form.password1(class="form-control") }}
    <div id="password_1_diag" class="alert alert-secondary ml-0 mt-2 mb-3"></div>
  </div>
  <div class="form_group">
    {{ form.password2.label(class="form-label") }}
    {{ form.password2(class="form-control") }}
    <div id="password_2_diag" class="mt-2 mb-3"></div>
  </div>
  <div class=my-3>&nbsp;</div>
  <input id="submit" type="submit" class="btn btn-primary" value="Add or modify this user!">
  </form>
  <a href="{{ url_for('auth.view_users') }}">See all users</a>
{% endblock content %}

{% block body_end %}
  <script src="/static/passwordstrengthmeter.js"></script>
  <script>
    password_check('password1', 'password2',
      'password_1_diag', 'password_2_diag',
      'submit', {{ config['MIN_PASSWORD_SCORE'] }})
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js" integrity="sha512-TZlMGFY9xKj38t/5m2FzJ+RM/aD5alMHDe26p0mYUMoCF5G7ibfHUQILq0qQPV3wlsnCwL+TPRNK4vIWGLOkUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock body_end %}
