gunicorn
gevent
gevent-websocket
wheel
flask
flask-login
flask_socketio
flask-wtf
lxml
requests
python_dateutil
# 2022-03-29: Werkzeug 2.1 minor version breakage: they removed safe_str_cmp
# either keep Werkzeug at 2.0
# or set werkzeug.security.safe_str_cmp = hmac.compare_digest
# or get new flask-login directly from github
# or wait for a new official release of flask-login
Werkzeug<2.1
