#viewport-overlay {
  opacity: 0.5;
  background: #000;

  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  visibility: hidden
}

#viewport-overlay.visible {
  visibility: visible;
}

#viewport-overlay div {
  line-height: 100vh;
  font-size: 15vw;
  text-align: center;
  transform: rotate(15deg);
}

